<div class="game-container">
    <h5 [ngStyle]="{'padding-left.px': PIXEL_SIZE * 0.625}">
        <span style="margin-right: 2rem;">
            Score: {{gameLogic.score}}
        </span>
        <span>
            Highscore: {{gameLogic.highScore}}
        </span>
    </h5>
    
    <div class="layer-container"
            [ngStyle]="{
                'width.px': SIZE * PIXEL_SIZE,
                'height.px': SIZE * PIXEL_SIZE,
                'padding.px': PIXEL_SIZE * 0.625
            }">
        <canvas #backgroundCanvas
                [attr.width]="SIZE * PIXEL_SIZE"
                [attr.height]="SIZE * PIXEL_SIZE"
                class="layer">
        </canvas>
        <canvas #snakeCanvas
                [attr.width]="SIZE * PIXEL_SIZE"
                [attr.height]="SIZE * PIXEL_SIZE"
                class="layer">
        </canvas>
        
    </div>
</div>

<div class="d-flex w-100 justify-content-center flex-column align-items-center d-lg-none">
    <button class="btn btn-secondary m-1"
            type="button"
            (click)="onMoveBtn('up')">
            <span class="icon-arrow-up"></span>
    </button>
    <div class="d-flex">
        <button class="btn btn-secondary m-1"
                type="button"
                (click)="onMoveBtn('left')">
                <span class="icon-arrow-left"></span>
        </button>
        <button class="btn btn-secondary m-1"
                type="button"
                (click)="onMoveBtn('down')">
                <span class="icon-arrow-down"></span>
        </button>
        <button class="btn btn-secondary m-1"
                type="button"
                (click)="onMoveBtn('right')">
                <span class="icon-arrow-right"></span>
        </button>
    </div>

    <button class="btn btn-secondary mt-1"
            type="button"
            (click)="onPause($event)">
            <span class="icon-pause"></span>
    </button>
</div>

<ng-template #pauseModal let-modal>
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Game paused</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <div class="modal-body">
        Close Modal or press space to resume. Use Arrow keys to control the snake.  Press space to pause game.
    </div>
</ng-template>

<ng-template #gameOverModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Game over</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <div class="modal-body">
        Close Modal or press space to restart.
    </div>
</ng-template>